/* 页脚与头图透明 */
#footer {
    background: transparent !important;
  }
  #page-header {
    background: transparent !important;
  }
  
  /* 白天模式遮罩透明 */
  #footer::before {
    background: transparent !important;
  }
  #page-header::before {
    background: transparent !important;
  }
  
  /* 夜间模式遮罩透明 */
  [data-theme="dark"] #footer::before {
    background: transparent !important;
  }
  [data-theme="dark"] #page-header::before {
    background: transparent !important;
  }


  




body{
  background-image: url(https://pic.wunian.dpdns.org/picture/20250424200255048.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

[data-theme="dark"]  {
  background-image: url(https://pic.wunian.dpdns.org/picture/20250502101622551.jpg);
}

/* #flip-wrapper {
  width: 285px;
} */

/* #page-header {
  color: #0095ff;  
  background: #0095ff; 
} */

/* #title {
  color: #ff0000 !important; 
} */